{% extends "mapwidgets/mapbox/interactive_base.html" %}
{% load i18n %}

{% block primary_action_button %}
    <a class="mw-btn mw-btn-warning mw-btn-draw-line">
        <i class="icon-location"></i>
        <span class="button-text">{% trans "Draw Line" %}</span>
    </a>
{% endblock primary_action_button %}

{% block footer_help_text %}
    <span class="mw-help-text help-text">{% trans "Draw or edit a line on the map" %}</span>
{% endblock footer_help_text %}

{% block widget_options %}
    Object.assign(mapWidgetOptions, {
        drawLineBtn: $(".mw-btn-draw-line", wrapElemSelector),
        lineCreateTriggerNameSpace: "mapboxLineStringFieldWidget:lineCreate",
        lineChangeTriggerNameSpace: "mapboxLineStringFieldWidget:lineChange",
        lineDeleteTriggerNameSpace: "mapboxLineStringFieldWidget:lineDelete",
        placeChangedTriggerNameSpace: "mapboxLineStringFieldWidget:placeChanged"
    });
{% endblock widget_options %}

{% block widget_init %}
    new DjangoMapboxLineStringFieldWidget(mapWidgetOptions);
{% endblock widget_init %}
