{% extends "base.html" %}

{% block extrahead %}
    {{ form.media }}
{% endblock extrahead %}

{% block javascript %}
    <script type="text/javascript">
        (function ($) {
            $(document).on("mapboxLineStringFieldWidget:lineCreate", function (e, geometry, wrapElemSelector, djangoInput) {
                console.log("EVENT: line_create");
                console.log(geometry);
                console.log(wrapElemSelector);
                console.log(djangoInput);
            });

            $(document).on("mapboxLineStringFieldWidget:lineChange", function (e, geometry, wrapElemSelector, djangoInput) {
                console.log("EVENT: line_change");
                console.log(geometry);
                console.log(wrapElemSelector);
                console.log(djangoInput);
            });

            $(document).on("mapboxLineStringFieldWidget:lineDelete", function (e, geometry, wrapElemSelector, djangoInput) {
                console.log("EVENT: line_delete");
                console.log(geometry);
                console.log(wrapElemSelector);
                console.log(djangoInput);
            });

            $(document).on("mapboxLineStringFieldWidget:placeChanged", function (e, place, lat, lng, wrapElemSelector, djangoInput) {
                console.log("EVENT: place_changed");
                console.log(place);
                console.log(lat, lng);
                console.log(wrapElemSelector);
                console.log(djangoInput);
            });
        })(jQuery)
    </script>
{% endblock javascript %}

{% block breadcrumb_item %}
    <li class="breadcrumb-item"><a href="{% url "mapbox:linestringfield_interactive_list" %}">Mapbox LineString Field</a></li>
{% endblock %}

{% block content %}
    <h4>{{ obj.name }}</h4>
    <form action="{% url "mapbox:linestringfield_interactive_edit" obj.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
{% endblock content %}
