{% extends "mapwidgets/mapbox/interactive_base.html" %}
{% load i18n %}

{% block primary_action_button %}
    <a class="mw-btn mw-btn-warning mw-btn-draw-polygon">
        <i class="icon-location"></i>
        <span class="button-text">{% trans "Draw Polygon" %}</span>
    </a>
{% endblock primary_action_button %}

{% block footer_help_text %}
    <span class="mw-help-text help-text">{% trans "Draw or edit a polygon on the map" %}</span>
{% endblock footer_help_text %}

{% block widget_options %}
    Object.assign(mapWidgetOptions, {
        drawPolygonBtn: $(".mw-btn-draw-polygon", wrapElemSelector),
        polygonCreateTriggerNameSpace: "mapboxPolygonFieldWidget:polygonCreate",
        polygonChangeTriggerNameSpace: "mapboxPolygonFieldWidget:polygonChange",
        polygonDeleteTriggerNameSpace: "mapboxPolygonFieldWidget:polygonDelete",
        placeChangedTriggerNameSpace: "mapboxPolygonFieldWidget:placeChanged"
    });
{% endblock widget_options %}

{% block widget_init %}
    new DjangoMapboxPolygonFieldWidget(mapWidgetOptions);
{% endblock widget_init %}
