{% extends "mapwidgets/mapbox/interactive_base.html" %}
{% load i18n %}

{% block primary_action_button %}
    <a class="mw-btn mw-btn-warning mw-btn-draw-polygon">
        <i class="icon-location"></i>
        <span class="button-text">{% trans "Draw Polygon" %}</span>
    </a>
{% endblock primary_action_button %}

{% block footer_help_text %}
    <span class="mw-help-text help-text">{% trans "Draw or edit polygons on the map" %}</span>
{% endblock footer_help_text %}

{% block widget_options %}
    Object.assign(mapWidgetOptions, {
        drawPolygonBtn: $(".mw-btn-draw-polygon", wrapElemSelector),
        multiPolygonCreateTriggerNameSpace: "mapboxMultiPolygonFieldWidget:multiPolygonCreate",
        multiPolygonChangeTriggerNameSpace: "mapboxMultiPolygonFieldWidget:multiPolygonChange",
        multiPolygonDeleteTriggerNameSpace: "mapboxMultiPolygonFieldWidget:multiPolygonDelete",
        placeChangedTriggerNameSpace: "mapboxMultiPolygonFieldWidget:placeChanged"
    });
{% endblock widget_options %}

{% block widget_init %}
    new DjangoMapboxMultiPolygonFieldWidget(mapWidgetOptions);
{% endblock widget_init %}
