{% extends "base.html" %}

{% block extrahead %}
    {{ form.media }}
{% endblock extrahead %}

{% block breadcrumb_item %}
    <li class="breadcrumb-item"><a href="{% url "mapbox:polygonfield_interactive_list" %}">Mapbox Polygon Field</a></li>
{% endblock %}

{% block content %}
    <h4>Add new item</h4>
    <form action="{% url "mapbox:polygonfield_interactive_add" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
{% endblock content %}
