{% extends "mapwidgets/mapbox/interactive_base.html" %}
{% load i18n %}

{% block header %}
    <a class="mw-btn mw-btn-warning mw-btn-add-marker">
        <i class="icon-location"></i>
        <span class="button-text">{% trans "Point on Map" %}</span>
    </a>
    <a class="mw-btn mw-btn-info mw-btn-my-location">
        <i class="icon-direction"></i>
        <span class="button-text">{% trans "Current Location" %}</span>
    </a>
    <div class="mw-coordinates-wrap">
        <a class="mw-btn mw-btn-default mw-btn-coordinates">
            <i class="icon-down-open"></i>
            <span class="button-text">{% trans "Edit Coordinates" %}</span>
        </a>
        <div class="mw-coordinates-overlay hide">
            <label for="{{ name }}-mw-overlay-latitude">
                {% trans "Latitude:" %}
                <input type="text" id="{{ name }}-mw-overlay-latitude"
                       class="form-control mw-overlay-input mw-overlay-latitude"
                       placeholder="{% trans 'Ex: 41.015137' %}"/>
            </label>
            <label for="{{ name }}-mw-overlay-longitude">
                {% trans "Longitude:" %}
                <input type="text" id="{{ name }}-mw-overlay-longitude"
                       class="form-control mw-overlay-input mw-overlay-longitude"
                       placeholder="{% trans 'Ex: 28.979530' %}"/>
            </label>
            <a class="mw-btn mw-btn-success mw-btn-coordinates-done pull-right">{% trans "Done" %}</a>
        </div>
    </div>

    <div class="mw-adress-input-wrap pull-right" id="{{ name }}-geocoder-wrap"></div>
{% endblock header %}

{% block footer_help_text %}
    <span class="mw-help-text help-text">Place the pin or type address where you want point on the map</span>
{% endblock footer_help_text %}

{% block widget_options %}
    Object.assign(mapWidgetOptions, {
        mapCenterLocationName: mapOptions.mapCenterLocationName,
        mapCenterLocation: mapOptions.mapCenterLocation,
        coordinatesOverlayToggleBtn: $(".mw-btn-coordinates", wrapElemSelector),
        coordinatesOverlayDoneBtn: $(".mw-btn-coordinates-done", wrapElemSelector),
        coordinatesOverlayInputs: $(".mw-overlay-input", wrapElemSelector),
        coordinatesOverlay: $(".mw-coordinates-overlay", wrapElemSelector),
        addMarkerBtn: $(".mw-btn-add-marker", wrapElemSelector),
        zoom: mapOptions.zoom,
        markerFitZoom: mapOptions.markerFitZoom,
        streetViewControl: mapOptions.streetViewControl,
        markerCreateTriggerNameSpace: "mapboxPointFieldWidget:markerCreate",
        markerChangeTriggerNameSpace: "mapboxPointFieldWidget:markerChange",
        markerDeleteTriggerNameSpace: "mapboxPointFieldWidget:markerDelete",
        placeChangedTriggerNameSpace: "mapboxPointFieldWidget:placeChanged"
    });
{% endblock widget_options %}

{% block widget_init %}
    new DjangoMapboxPointFieldWidget(mapWidgetOptions);
{% endblock widget_init %}
